<h1><%= @auth_user.first_name %>'s Profile Page</h1>

<h5>First Name: <%= @auth_user.first_name %></h5>
<h5>Last Name: <%= @auth_user.last_name %></h5>
<h5>Email: <%= @auth_user.email %></h5>

<h3>Check out the <%= link_to "Kids in Need", kids_path %></h3>
<!-- 
<p>Show Stats</p> -->