<h1><%= @auth_user.first_name %>'s Profile Page</h1>

<span>First Name: <%= @auth_user.first_name %></span><br>
<span>Last Name: <%= @auth_user.last_name %></span><br>
<span>Email: <%= @auth_user.email %></span><br>

<h5>Check out the <%= link_to "Kids in Need", kids_path %></h5>

<p>Show Stats</p>