<h1>New Purchase</h1>

 <%= image_tag @item.image.medium, :class => "item_image" %>
  <%= number_to_currency(@item.price) %>
  <%= link_to @item.title.titleize, @item %>

<div id="transaction">
<script src="https://button.stripe.com/v1/button.js" class="stripe-button" data-key="<%= STRIPE_PUB %>"></script>
</div>

<%= form_tag '/purchases/create', :id => 'stripeform', :remote => true do  %>
  <%= hidden_field_tag :item_id, value: params[:item_id] %>
  <%= hidden_field_tag :amount, value: @item.price %>
  <%= hidden_field_tag :benefactor_id, value: @auth_user.id %>
  <%= hidden_field_tag 'token' %>
<% end %>