<h1>All Items</h1>

<table id="item_table" class="twelve columns"> 
  <thead> 
    <tr> 
        <th>Image</th> 
        <th>Price   <%= image_tag 'arrow_icon.png', :class =>"arrow" %></th> 
        <th>Item Details   <%= image_tag 'arrow_icon.png', :class =>"arrow" %></th> 
        <th></th>
    </tr> 
  </thead> 
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="table_font"><%= image_tag item.image.medium, :class => "item_image" %></td>
        <td class="table_font"><%= number_to_currency(item.price) %></td>
        <td class="table_font"><%= link_to item.title.titleize, item %></td>
        <td class="table_font">
          <% if is_benefactor? %>
          <%= form_tag '/purchases/new' do %>
            <%= hidden_field_tag 'item_id', item.id %>
            <%= submit_tag 'Buy this item' %>
          <% end %>
        <% elsif is_parent? %>
        <% else %>
          <h6><%= link_to "Sign in", '/login' %> to buy this Item</h6>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
