<h1><%= @item.title.titleize %></h1>
<p>Item Added: <%= time_ago_in_words(@item_added).titleize %> Ago</p>

<div class= "six columns">
  <p><%= image_tag @item.image %></p>
</div>
<div class="six columns">
  <h5>Description: <%= @item.description %></h5>
  <h5>Price: <%= number_to_currency(@item.price) %></h5>
  <h5>Check it out: <%= @item.url %></h5>
</div>

<p>If Parent, show EDIT button.</p>
<p>If BENEF, show BUY button below.</p>


<%= form_tag('/new_purchase') do %>
  <%= hidden_field_tag 'item_id', @item.id %>
  <%= submit_tag 'Buy this item' %>
<% end %>


